@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "componets/analytics";
@import "componets/cardmini";
@import "componets/searchbox";
@import "componets/usernav";
@import "componets/logo";
@import "componets/sidebar";
@import "componets/dashboard";
@import "componets/_login";
@import "componets/_calendar";
@import "componets/_issueModal";
@import "componets/_adminPage";
@import "componets/_modal";
@import "componets/_resultsPages";
@import "layout/layout";


  
  label, input {
    display: block;
  }
  
  form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    
    cursor: pointer;
  }
  
  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }
  

  
  input.error {
    border: 1px solid var(--error);
  }
  
  .plus {
    width: 2rem;
    height: 2rem;
  
  }