$color-primary:  #55c57a;
$color-primary-light: #ffffff;
$color-primary-dark: #d3d3d3;
$color-error: #e7195a;
$color-correct: #1aac83;
$color-gradient1: rgb(157, 157, 157);
$color-gradient2: rgb(148, 148, 148);
$color-app-primary: rgba(32,31,40,255);
$color-app-secondary: rgba(25,25,29,255);
$color-app-light-green: #c7ebf0;
$color-app-text-black: #ffffff;
$color-app-accent1: linear-gradient(135deg, #90b8c7, #78a3b8, #90b8c7, #d8e4eb);
$color-app-accent2: linear-gradient(135deg, #c68b93, #b06e78, #c68b93, #e6bcc1);
$color-app-accent3: linear-gradient(135deg, #8e94ad, #727999, #8e94ad, #c1c8d6);

$color-app-secondaryfont: #7a7a7a;

$color-app-accent4: linear-gradient(135deg, rgba(72, 86, 150, 1), rgba(108, 123, 185, 0.8), rgba(72, 86, 150, 1));
$color-app-accent5: linear-gradient(135deg, rgba(7, 30, 34, 1), rgba(43, 79, 86, 0.8), rgba(7, 30, 34, 1));
$color-app-accent6: linear-gradient(135deg, #744253, rgba(162, 112, 129, 0.8), rgba(116, 66, 83, 1));
$color-app-accent7: linear-gradient(135deg, #476a6f, rgba(118, 151, 161, 0.8), rgba(71, 106, 111, 1));
$color-app-accent8: linear-gradient(135deg, #bfd5e2, #a3c4d7, #bfd5e2);
$color-button: linear-gradient(135deg, rgba(0, 123, 255, 0.902), rgba(30, 144, 255, 0.9), rgba(0, 123, 255, 0.9));




