$color-primary:  #55c57a;
$color-primary-light: #ffffff;
$color-primary-dark: #d3d3d3;
$color-error: #e7195a;
$color-correct: #1aac83;






$text: rgb(227, 247, 245);
$black-text: #081c1a;
$grey-text: rgb(180, 180, 180);
$background: rgb(3, 12, 10);
$box-color: rgba(10,19,17,255);
$primary: rgb(149, 223, 212);
$secondary: rgb(36, 50, 121);
$accent: rgb(103, 84, 204);
$slected-grey: rgba(15,27,38,255);