$color-primary:  #55c57a;
$color-primary-light: #ffffff;
$color-primary-dark: #d3d3d3;
$color-error: #e7195a;
$color-correct: #1aac83;
$color-body: #d4d4d4;
$color-header: #ffffff;
$color-gradient1: #d5d4ff;
$color-gradient2: #c5eafc;
$color-app-primary: rgba(251, 254, 249, 1);
$color-app-secondary: rgba(239, 239, 239, 1);
$color-app-light-green: rgba(136, 181, 167,1);
$color-app-text-black: rgba(50, 48, 49,1);
$color-app-accent1: rgba(57, 77, 71, 1);
$color-app-accent2: rgba(101, 76, 79, 1);
$color-app-accent3: rgba(14, 28, 54, 1);
$color-app-secondaryfont: rgb(122, 122, 122);

$color-app-accent4: #0fa679;
$color-app-accent5: #d8a47f;
$color-app-accent6: #e2b1b1;
$color-app-accent7: #66635b;