body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(to right bottom, #d5d4ff, #c5eafc);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  justify-self: center;
  border-radius: 10px;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --shadow-dark: .1rem .1rem 1rem rgba(0,0,0,.2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

@keyframes circle {
  0% {
    width: 0.1rem;
    height: 0.1rem;
    background: rgb(255, 226, 165);
  }
  80% {
    width: 110rem;
    height: 120rem;
    background: rgb(240, 242, 247);
  }
  100% {
    width: 110rem;
    height: 120rem;
    background: rgb(240, 242, 247);
  }
}
.analytics {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.analytics__link {
  width: 30%;
  text-decoration: none;
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
}
.analytics__open-issues {
  padding: 1rem;
  height: 13rem;
  background: rgb(161, 117, 242);
  background: linear-gradient(373deg, rgb(161, 117, 242) 0%, rgb(190, 154, 255) 100%);
  border-radius: 1rem;
}
.analytics__new-issues {
  padding: 1rem;
  height: 13rem;
  background: rgb(255, 196, 68);
  background: linear-gradient(373deg, rgb(255, 196, 68) 0%, rgb(255, 215, 128) 100%);
  border-radius: 10px;
}
.analytics__priority-issues {
  padding: 1rem;
  height: 13rem;
  background: rgb(252, 114, 182);
  background: linear-gradient(373deg, rgb(252, 114, 182) 0%, rgb(255, 180, 217) 100%);
  border-radius: 10px;
}
.analytics__header-container {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  height: 5.3rem;
}
.analytics__header-logo {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.367);
  border-radius: 1rem;
}
.analytics__header-title {
  margin-left: 1rem;
  color: white;
}
.analytics__info-box {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  margin-top: 1rem;
}
.analytics__info {
  color: white;
  font-size: 3rem;
}
.analytics__info-string {
  color: white;
  font-size: 1.1rem;
  margin-left: 1rem;
}

.card-mini {
  width: 80%;
}
.card-mini__container {
  margin: 0.7rem;
  height: 7.3rem;
  padding: 5px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  display: flex;
  flex: 0 0 70%;
  justify-content: center;
  align-items: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: rgb(198, 198, 198);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: rgb(222, 222, 222);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: rgb(66, 66, 66);
}
.search__button {
  border: none;
  display: flex;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  width: 20rem;
}
.user-nav > * {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}
.user-nav > *:hover {
  background-color: rgb(164, 122, 122);
}
.user-nav__box {
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
}
.user-nav__logo-box {
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
}
.user-nav__link {
  width: 100%;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  z-index: 1;
}
.dropdown-menu__item {
  padding: 10px;
  cursor: pointer;
  display: block;
  text-align: left;
  width: 100%;
  border: none;
  background: none;
}
.dropdown-menu__item :hover {
  background-color: #f1f1f1;
}

.logo {
  width: 7rem;
  margin-left: 0.2rem;
  padding-top: 0.2rem;
}

.sidenav-icon {
  height: 1.75rem;
  width: 1.75rem;
  flex-shrink: 0;
  transition: margin-right 0.3s;
}

.analytics-icon {
  fill: white;
  border-radius: 1.2rem;
  border: 0.6rem solid rgba(255, 255, 255, 0);
  height: 95%;
  width: 95%;
}

.category-icon {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  min-width: 50px;
}

.side-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.side-nav__link:link, .side-nav__link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  height: 4.5rem;
  fill: rgb(161, 117, 242);
  color: rgb(161, 117, 242);
  transition: padding 0.3s;
  padding-left: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.side-nav__link:link:after, .side-nav__link:visited:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 50;
  bottom: 50;
  left: 0;
  right: 0;
  content: ".";
  color: transparent;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: transparent;
  z-index: -1;
}
.side-nav__link:link:hover:after, .side-nav__link:visited:hover:after {
  animation: circle 2s ease-in forwards;
}
.side-nav__link-title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4rem;
  opacity: 0;
  margin-left: 0;
  transition: opacity 0.3s, padding-left 0.3s, transform 0.3s ease;
}
.side-nav__link:hover .side-nav__link-title {
  transform: scale(1.1);
  padding-left: 1rem;
}
.sidebar:hover .side-nav__link-title {
  opacity: 1;
  margin-left: 1rem;
}

.dash-view__analytics-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 70%;
  justify-content: space-between;
  margin-right: 2rem;
  height: 100%;
}
.dash-view__calendar-container {
  max-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 30%;
}

.dash-nav {
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  height: 100%;
  padding: 1rem;
}
.dash-nav__header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.5rem;
  align-items: center;
}
.dash-nav__filters {
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  border-bottom: solid 0.01rem;
}
.dash-nav__filters-selector {
  cursor: pointer;
  margin-left: 1.5rem;
}

.form {
  left: 50%;
  top: 35%;
  position: absolute;
  transform: translate(-50%, -35%);
  background-color: rgb(255, 255, 255);
  width: 70rem;
  height: 40rem;
  border-radius: 15px;
  box-shadow: var(--shadow-dark);
  display: flex;
}
.form__form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-dark);
  border-radius: 10px;
  width: 50%;
  margin: 2rem;
  position: relative;
}
.form__input-container {
  margin: 1.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__input-group {
  position: relative;
}
.form__title {
  font-size: 2.2rem;
}
.form__question {
  font-size: 1.3rem;
}
.form__label {
  position: absolute;
  font-size: 1.3rem;
  top: 4.3rem; /* Adjust as necessary */
  left: 0.8rem; /* Adjust as necessary */
  color: grey;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s; /* Smooth transition */
}
.form__input {
  margin-top: 3rem;
  background: transparent;
  width: 100%;
  border: none;
  font-size: 1.7rem;
  border-bottom: 2px solid silver;
  padding: 0.5rem; /* Add padding to avoid overlap with label */
}
.form__input:focus {
  outline: none; /* Remove default outline */
}
.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-2.9rem); /* Move label up */
  font-size: 1.2rem; /* Reduce font size */
  color: rgb(161, 117, 242);
}
.form__underline {
  position: absolute;
  bottom: 0rem;
  height: 0.2rem;
  width: 100%;
}
.form__underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: red;
  transform: scaleX(0);
}
.form__button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
}
.form__button {
  background-color: rgb(255, 196, 68);
  width: 18rem;
  height: 3.8rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  margin-top: 9rem;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.form__button:hover, .form__button:focus, .form__button:active {
  box-shadow: 0 0 20px rgb(161, 117, 242);
  transform: scale(1.1);
}
.form__illistration {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form__error {
  margin-top: 1.5rem;
  position: absolute;
  bottom: 6.5rem;
  padding: 10px;
  background: #ffbaba;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  width: 100%;
}

.calendar {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  height: 150px;
  max-width: 100%;
}

.somethingelse {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  height: 150px;
  max-width: 100%;
}

.modal {
  margin: auto;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  width: 55%;
}

.issue-list__container {
  background-color: rgb(240, 242, 247);
  height: 100%;
}

.container {
  max-width: 140rem;
  margin: 5rem auto;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-dark);
  min-height: 60rem;
  border-radius: 10px;
}

header {
  height: 7rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(161, 117, 242);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem 0;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  flex: 0 0 4rem;
  max-width: 20%;
  min-width: 4rem;
  border-bottom-left-radius: 1rem;
  padding-top: 3rem;
  overflow: hidden;
  transition: flex 0.5s linear;
}
.sidebar:hover {
  flex: 0 0 23rem;
}

.content {
  background-color: rgb(255, 255, 255);
  display: flex;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  min-height: 70rem;
  width: 100%;
}

.dash-view {
  background-color: rgb(240, 242, 247);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 2rem;
}

.main-content-container {
  display: flex;
  height: 100%;
}

.main-content {
  flex: 1;
}

label, input {
  display: block;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.plus {
  width: 2rem;
  height: 2rem;
}

/*# sourceMappingURL=styles.css.map */
