@charset "UTF-8";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(to right bottom, #d8d8d8, #ebebeb);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  justify-self: center;
  border-radius: 10px;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --shadow-dark: .2rem .3rem 1rem rgba(0,0,0,.2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

@keyframes circle {
  0% {
    width: 0.1rem;
    height: 0.1rem;
    background: rgb(255, 255, 255);
  }
  80% {
    width: 110rem;
    height: 120rem;
    background: #dadada;
  }
  100% {
    width: 110rem;
    height: 120rem;
    background: #dadada;
  }
}
.card-mini__category-container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: rgb(15, 166, 121);
  background-image: linear-gradient(135deg, rgb(15, 166, 121), rgba(159, 247, 208, 0.8));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3019607843);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card-mini__category-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 80%);
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: sparkle 10s infinite;
}
@keyframes sparkle {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.7);
  }
  20% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
}

@keyframes fireAnimation {
  0% {
    stop-color: rgb(255, 0, 0); /* Red */
  }
  50% {
    stop-color: rgb(255, 134, 0); /* Orange */
  }
  100% {
    stop-color: rgb(255, 0, 0); /* Red */
  }
}
.fire-animation .stop1 {
  animation: fireAnimation 2s infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fire-animation .stop2 {
  animation: fireAnimation 2s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s; /* Delay to create staggered effect */
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.analytics {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.analytics__link {
  width: 30%;
  text-decoration: none;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}
.analytics__link:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
.analytics__open-issues, .analytics__new-issues, .analytics__priority-issues {
  padding: 1rem;
  height: 13rem;
  border-radius: 1rem;
  background-size: 200% 200%;
  position: relative;
  z-index: 1;
}
.analytics__open-issues {
  background: linear-gradient(135deg, #8e94ad, #727999, #8e94ad, #c1c8d6);
}
.analytics__new-issues {
  background: linear-gradient(135deg, #c68b93, #b06e78, #c68b93, #e6bcc1);
}
.analytics__priority-issues {
  background: linear-gradient(135deg, #90b8c7, #78a3b8, #90b8c7, #d8e4eb);
}
.analytics__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  pointer-events: none;
}
.analytics__link:hover::after {
  opacity: 1;
}
.analytics__header-container {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  height: 5.3rem;
}
.analytics__header-logo {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.367);
  border-radius: 1rem;
}
.analytics__header-title {
  margin-left: 1rem;
  color: white;
}
.analytics__info-box {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  margin-top: 1rem;
}
.analytics__info {
  color: white;
  font-size: 3rem;
}
.analytics__info-string {
  color: white;
  font-size: 1.1rem;
  margin-left: 1rem;
}

.card-mini {
  width: 80%;
}
.card-mini__container {
  margin: 0 1rem 1rem 1rem;
  height: 8.3rem;
  padding: 5px;
  border-radius: 15px;
  background-color: #e9e9e9;
  box-shadow: var(--shadow-dark);
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-mini__container:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.card-mini__category-container {
  display: flex;
  border-radius: 1rem;
  margin: 0 0.8rem;
  width: 4.5rem;
  height: 4.5rem;
  justify-content: center;
  align-items: center;
}
.card-mini__title-container {
  margin-left: 0.5rem;
  width: 45%;
}
.card-mini__name {
  font-size: 1.3rem;
  color: #323031;
}
.card-mini__description {
  color: #7a7a7a;
}
.card-mini__date {
  color: #7a7a7a;
  width: 15%;
  margin-left: 1rem;
}
.card-mini__driver-list {
  width: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  margin-left: 1rem;
}
.card-mini__drivers {
  display: flex;
  justify-content: space-between;
  width: 3rem;
}
.card-mini__completion-input {
  appearance: none;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}
.card-mini__completion-input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}
.card-mini__completion-input:checked::before {
  background: linear-gradient(135deg, rgb(72, 86, 150), rgba(108, 123, 185, 0.8), rgb(72, 86, 150));
}
.card-mini__completion-input:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  transition: opacity 0.2s ease-in-out;
}
.card-mini__completion-input:hover::before {
  background: linear-gradient(135deg, rgb(7, 30, 34), rgba(43, 79, 86, 0.8), rgb(7, 30, 34));
}
.card-mini__completion-input:checked:hover::before {
  background: linear-gradient(135deg, #90b8c7, #78a3b8, #90b8c7, #d8e4eb);
}
.card-mini__completion-input:checked:hover::after {
  opacity: 1;
}
.card-mini__completion-input:checked {
  transform: scale(1.1);
}
.card-mini__parroom-list {
  list-style: none;
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-mini__prioriry-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.card-mini__priority {
  width: 5rem;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  flex: 0 0 70%;
  justify-content: center;
  align-items: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: rgb(198, 198, 198);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: rgb(222, 222, 222);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: rgb(66, 66, 66);
}
.search__button {
  border: none;
  display: flex;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  width: 20rem;
}
.user-nav > * {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}
.user-nav > *:hover {
  background-color: rgb(164, 122, 122);
}
.user-nav__box {
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
}
.user-nav__logo-box {
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
}
.user-nav__link {
  width: 100%;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  z-index: 1;
}
.dropdown-menu__item {
  padding: 10px;
  cursor: pointer;
  display: block;
  text-align: left;
  width: 100%;
  border: none;
  background: none;
}
.dropdown-menu__item :hover {
  background-color: #f1f1f1;
}

.logo {
  width: 7rem;
  margin-left: 0.2rem;
  padding-top: 0.2rem;
}

.sidenav-icon {
  height: 1.75rem;
  width: 1.75rem;
  flex-shrink: 0;
  transition: margin-right 0.3s;
}

.analytics-icon {
  fill: white;
  border-radius: 1.2rem;
  border: 0.6rem solid rgba(255, 255, 255, 0);
  height: 95%;
  width: 95%;
}

.category-icon {
  width: 3rem;
  height: 3rem;
}

.side-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.side-nav__link:link, .side-nav__link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  height: 4.5rem;
  fill: #323031;
  color: #323031;
  transition: padding 0.3s;
  padding-left: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.side-nav__link:link:after, .side-nav__link:visited:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 50;
  bottom: 50;
  left: 0;
  right: 0;
  content: ".";
  color: transparent;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: transparent;
  z-index: -1;
}
.side-nav__link:link:hover:after, .side-nav__link:visited:hover:after {
  animation: circle 2s ease-in forwards;
}
.side-nav__link-title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4rem;
  opacity: 0;
  margin-left: 0;
  transition: opacity 0.3s, padding-left 0.3s, transform 0.3s ease;
}
.side-nav__link:hover .side-nav__link-title {
  transform: scale(1.1);
  padding-left: 1rem;
}
.sidebar:hover .side-nav__link-title {
  opacity: 1;
  margin-left: 1rem;
}

.dash-view__analytics-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 70%;
  justify-content: space-between;
  margin-right: 2rem;
  height: 100%;
}
.dash-view__calendar-container {
  max-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 30%;
}

.dash-nav {
  border-radius: 1rem;
  background-color: #e9e9e9;
  max-width: 100%;
  height: 100%;
  padding: 1rem;
}
.dash-nav__header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.5rem;
  align-items: center;
}
.dash-nav__title {
  color: #323031;
  font-size: 1.8rem;
}
.dash-nav__filters {
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  color: #323031;
}
.dash-nav__filters-selector {
  cursor: pointer;
  margin-left: 1.5rem;
  position: relative;
  padding-bottom: 0.3rem;
  transition: transform 0.4s ease, color 0.3s ease;
}
.dash-nav__filters-selector:hover {
  transform: scale(1.1);
  color: #323031;
}
.dash-nav__filters-selector:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: linear-gradient(135deg, rgb(7, 30, 34), rgba(43, 79, 86, 0.8), rgb(7, 30, 34));
  transition: width 0.3s ease, left 0.3s ease;
}
.dash-nav__filters-selector:hover:after {
  width: 100%;
  left: 0;
}

.new-task__button {
  padding: 5px 10px;
  border: 2px solid transparent;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, rgba(0, 123, 255, 0.902), rgba(30, 144, 255, 0.9), rgba(0, 123, 255, 0.9));
  font-size: 1.5rem;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s;
}

.new-task__button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(135deg, rgb(7, 30, 34), rgba(43, 79, 86, 0.8), rgb(7, 30, 34));
  z-index: -1;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
  transform: scale(0.8);
}

.new-task__button:hover {
  color: #ffffff;
  background-color: #fff;
}

.new-task__button:hover::before {
  opacity: 1;
  transform: scale(1);
}

.task__close-button {
  width: 6rem;
  height: 2rem;
  color: rgba(0, 123, 255, 0.902);
  background-color: white;
  border: solid rgba(0, 123, 255, 0.902) 0.1rem;
  border-radius: 8px;
}

.task__close-button__issues {
  width: 6rem;
  height: 2rem;
  color: rgba(0, 123, 255, 0.902);
  background-color: white;
  border: solid rgba(0, 123, 255, 0.902) 0.1rem;
  border-radius: 8px;
}

.issues-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  left: 50%;
  top: 35%;
  position: absolute;
  transform: translate(-50%, -35%);
  background-color: rgb(255, 255, 255);
  width: 70rem;
  height: 40rem;
  border-radius: 15px;
  box-shadow: var(--shadow-dark);
  display: flex;
}
.form__form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-dark);
  border-radius: 10px;
  width: 50%;
  margin: 2rem;
  position: relative;
}
.form__input-container {
  margin: 1.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__input-group {
  position: relative;
}
.form__title {
  font-size: 2.2rem;
}
.form__question {
  font-size: 1.3rem;
}
.form__label {
  position: absolute;
  font-size: 1.3rem;
  top: 4.3rem; /* Adjust as necessary */
  left: 0.8rem; /* Adjust as necessary */
  color: grey;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s; /* Smooth transition */
}
.form__input {
  margin-top: 3rem;
  background: transparent;
  width: 100%;
  border: none;
  font-size: 1.7rem;
  border-bottom: 2px solid silver;
  padding: 0.5rem; /* Add padding to avoid overlap with label */
}
.form__input:focus {
  outline: none; /* Remove default outline */
}
.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-2.9rem); /* Move label up */
  font-size: 1.2rem; /* Reduce font size */
  color: rgb(161, 117, 242);
}
.form__underline {
  position: absolute;
  bottom: 0rem;
  height: 0.2rem;
  width: 100%;
}
.form__underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: red;
  transform: scaleX(0);
}
.form__button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
}
.form__button {
  background-color: rgb(255, 196, 68);
  width: 18rem;
  height: 3.8rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  margin-top: 9rem;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.form__button:hover, .form__button:focus, .form__button:active {
  box-shadow: 0 0 20px linear-gradient(135deg, #90b8c7, #78a3b8, #90b8c7, #d8e4eb);
  transform: scale(1.1);
}
.form__illistration {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form__error {
  margin-top: 1.5rem;
  position: absolute;
  bottom: 6.5rem;
  padding: 10px;
  background: #ffbaba;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  width: 100%;
}

.calendar {
  background-color: #e9e9e9;
  border-radius: 1rem;
  height: 150px;
  max-width: 100%;
}

.somethingelse {
  background-color: #e9e9e9;
  border-radius: 1rem;
  height: 150px;
  max-width: 100%;
}

.modal {
  margin: auto;
  border: none;
  border-radius: 5px;
  height: 60%;
  width: 50%;
}

.modal-form {
  margin: auto;
  border: none;
  border-radius: 5px;
  height: 75%;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

dialog:-internal-dialog-in-top-layer::backdrop {
  background: rgba(0, 0, 0, 0.2);
}

.admin-page {
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
}
.admin-page__navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: #e9e9e9;
  align-items: center;
}
.admin-page__category-selectors {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.card-mini__title-container {
  width: 40%;
}
.card-mini__drivers-admin-ul {
  width: 20%;
}
.card-mini__drivers-admin-li {
  list-style: none;
}

.results-page-admin {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #e9e9e9;
  margin-top: 1rem;
  border-radius: 1rem;
}
.filter-container {
  display: flex;
  gap: 4rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter {
  display: flex;
  flex-direction: column;
}
.filter__label {
  font-weight: bold;
  color: #323031;
  margin-bottom: 0.5rem;
}
.filter .filter__select {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
  transition: border-color 0.2s;
  appearance: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}
.filter .filter__select:hover {
  border-color: #007bff;
  outline: none;
}
.filter__option {
  padding: 0.5rem;
}

.modal__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.modal-card {
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.modal-card__title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.modal-card__priority {
  margin-left: 1rem;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background: #e9e9e9;
  color: #333;
}
.modal-card__description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #666;
}
.modal-card__due-date {
  font-size: 0.875rem;
  color: #888;
  margin-top: 1rem;
}
.modal-card__assigned-title {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}
.modal-card__driver-list {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 1.5rem;
}
.modal-card__driver-item {
  font-size: 1rem;
  color: #555;
  padding: 0.25rem 0;
  border-bottom: 1px solid #eee;
}
.modal-card__category {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-top: 1rem;
}

.issue-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #e9e9e9;
}
.issue-form__form-container {
  width: 80%;
  align-self: center;
}
.issue-form__title-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.issue-form__label {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
.issue-form__textarea {
  width: 80%;
  height: 6rem;
  resize: none;
}
.issue-form__assignment-container {
  display: flex;
  flex-direction: column;
}
.issue-form__driver-container {
  display: flex;
}
.issue-form__button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.results-page {
  background-color: #dadada;
  padding: 2rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom-right-radius: 10px;
}
.results-page__card {
  background-color: #e9e9e9;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.results-page__ul {
  padding-top: 1rem;
  list-style-type: none;
}
.results-page__li {
  opacity: 0;
  transform: translateY(50%);
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: calc(var(--index) * 0.1s);
  position: relative;
}

.container {
  max-width: 140rem;
  margin: 5rem auto;
  background-color: #e9e9e9;
  box-shadow: var(--shadow-dark);
  min-height: 81rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

header {
  height: 7rem;
  background-color: #e9e9e9;
  border-bottom: 1px solid linear-gradient(135deg, #90b8c7, #78a3b8, #90b8c7, #d8e4eb);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem 0;
}

.sidebar {
  background: linear-gradient(135deg, #90b8c7, #78a3b8, #90b8c7, #d8e4eb);
  flex: 0 0 4rem;
  max-width: 20%;
  min-width: 4rem;
  border-bottom-left-radius: 1rem;
  padding-top: 3rem;
  overflow: hidden;
  transition: flex 0.5s linear;
}
.sidebar:hover {
  flex: 0 0 23rem;
}

.content {
  background-color: #e9e9e9;
  display: flex;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  min-height: 74rem;
  width: 100%;
}

.dash-view {
  background-color: #dadada;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 2rem;
}

.main-content-container {
  display: flex;
  flex-grow: 1;
}

.main-content {
  flex: 1;
  min-height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.pagination .page-item {
  margin: 0.2rem;
  transition: background-color 0.3s ease;
}
.pagination .page-item button {
  color: #7a7a7a;
  border: none;
  margin-bottom: 0.7rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 100px;
}
.pagination .page-item button:hover {
  background: linear-gradient(135deg, #c68b93, #b06e78, #c68b93, #e6bcc1);
  color: #323031;
}
.pagination .page-item.active button {
  background: #c7ebf0;
  color: #323031;
}
label, input {
  display: block;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.plus {
  width: 2rem;
  height: 2rem;
}

/*# sourceMappingURL=styles.css.map */
