body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(to right bottom, #d5d4ff, #c5eafc);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.section-analytics {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
}
.section-analytics__box {
  width: 20%;
  height: 10rem;
  display: block;
  background-color: rgb(54, 118, 118);
  border-radius: 10px;
}

.card-mini {
  width: 80%;
}
.card-mini__container {
  margin: 10px;
  height: 6rem;
  border-radius: 4px;
  background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.8), rgba(211, 211, 211, 0.8));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search {
  display: flex;
  flex: 0 0 40%;
  justify-content: center;
  align-items: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: rgb(198, 198, 198);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: rgb(222, 222, 222);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: rgb(66, 66, 66);
}
.search__button {
  border: none;
  display: flex;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  width: 800px;
}
.user-nav > * {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}
.user-nav > *:hover {
  background-color: rgb(164, 122, 122);
}
.user-nav__box {
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
}
.user-nav__link {
  width: 100%;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}

.logo {
  height: 4.5rem;
  border-radius: 5px;
  margin-left: 3rem;
}

.side-nav__icon {
  width: 2.2rem;
}

.remove-icon {
  fill: green;
}

.dash-nav {
  background-color: darkcyan;
}
.dash-nav__header {
  display: flex;
  justify-content: space-between;
}
.dash-nav__filters {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.dash-nav__filters-new-assigned {
  cursor: pointer;
}
.dash-nav__filters-priority {
  cursor: pointer;
}
.dash-nav__filters-completed {
  cursor: pointer;
}

.login-form {
  left: 50%;
  top: 35%;
  position: absolute;
  transform: translate(-50%, -35%);
  background-color: rgba(255, 215, 169, 0.6705882353);
  width: 70rem;
  height: 40rem;
  border-radius: 15px;
  box-shadow: var(--shadow-dark);
  display: flex;
}
.login-form__form {
  display: flex;
  flex-direction: column;
  background-color: rgb(210, 210, 210);
  box-shadow: var(--shadow-dark);
  border-radius: 10px;
  width: 50%;
  margin: 2rem;
  position: relative;
}
.login-form__input-container {
  margin: 1.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.login-form__title {
  font-size: 2.2rem;
}
.login-form__question {
  font-size: 1.3rem;
}
.login-form__name {
  position: absolute;
  top: 10.7rem; /* Adjust as necessary */
  left: 1.9rem; /* Adjust as necessary */
  color: grey;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s; /* Smooth transition */
}
.login-form__name-input {
  margin-top: 3rem;
  width: 100%;
  border: none;
  font-size: 1.7rem;
  border-bottom: 2px solid silver;
  padding: 1rem; /* Add padding to avoid overlap with label */
}
.login-form__name-input:focus {
  outline: none; /* Remove default outline */
}
.login-form__name-input:focus + .login-form__name, .login-form__name-input:not(:placeholder-shown) + .login-form__name {
  transform: translateY(-1rem); /* Move label up */
  font-size: 1.2rem; /* Reduce font size */
}
.login-form__button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 2rem;
  flex-direction: column;
}
.login-form__button {
  background-color: rgb(0, 149, 255);
  width: 18rem;
  height: 3.8rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform-origin: center;
  margin-top: 6.2rem;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.login-form__button:hover, .login-form__button:focus, .login-form__button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.login-form__illistration {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.login-form__error {
  position: absolute;
  left: 50%;
  top: 79%;
  transform: translate(-50%, -79%);
  padding: 10px;
  background: #ffbaba;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  width: 100%;
}

.container {
  max-width: 140rem;
  margin: 8rem auto;
  background-color: rgb(166, 166, 166);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

header {
  height: 7rem;
  background-color: #ececec;
  border-bottom: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.sidebar {
  background-color: rgb(87, 87, 87);
  flex: 0 0 18%;
}

.content {
  display: flex;
}

.dashboard-view {
  background-color: rgb(142, 142, 142);
  flex: 1;
}

.calendar {
  flex: 0 0 23%;
}

label, input {
  display: block;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.plus {
  width: 2rem;
  height: 2rem;
}

/*# sourceMappingURL=styles.css.map */
