.container {
max-width: 140rem;
margin: 5rem auto;
background-color: $background;
box-shadow: var(--shadow-dark);
min-height: 81rem;
border-radius: 10px;
display: flex;
flex-direction: column;


}


header{
    height: 7rem;
    background-color: $box-color;
    border-bottom: 1px solid $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem 0;
  }
  

  .sidebar{
    background: $box-color;
    flex: 0 0 4rem;
    max-width: 20%;
    min-width: 4rem;
    border-bottom-left-radius: 1rem;
    padding-top: 3rem;
    overflow: hidden;
    transition: flex .5s linear;

    &:hover {
      flex: 0 0 23rem
    }

  }


  .content {
    background-color: $background;
    display: flex;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    min-height: 74rem;
    width: 100%;
    
  }

  .dash-view {
background-color: $background;
border-bottom-right-radius: 1rem;

display: flex;
justify-content: space-between;
flex: 1;
padding: 2rem;


  }

  .main-content-container {
    display: flex;
    flex-grow: 1;
  }

  .main-content {
    flex: 1;
    min-height: 100%;
  }


  
    // Pagination.scss

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  
  
  

  .page-item {
    margin: .2rem;
    transition: background-color 0.3s ease;

    button {
      color: $text;
      border: none;
      margin-bottom: .7rem;
      padding: .5rem .8rem;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      border-radius: 100px;

      &:hover {
        background: $primary;
        color: $black-text;

      }
    }

    &.active button {
      background: $accent;
      color: $black-text;

      &:hover {
        
      
      }
    }
  }
}

