.container {
max-width: 140rem;
margin: 8rem auto;
background-color: $color-app-primary;
box-shadow: var(--shadow-dark);
min-height: 60rem;
border-radius: 10px;


}


header{
    height: 7rem;
    background-color: $color-app-primary;
    border-bottom: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
  }
  

  .sidebar{
    background-color: $color-app-primary;
    flex: 0 0 18%;
    border-bottom-left-radius: 1rem;
    padding: 2rem;
  }


  .content {
    background-color: $color-app-primary;
    display: flex;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
  }

  .dash-view {
background-color: $color-app-secondary;
border-radius: 1rem;
display: flex;
justify-content: space-between;
flex: 1;
padding: 2rem;
margin-bottom: 3rem;
margin-right: 3rem;

  }

  