.container {
width: 100%;
margin: 0 auto;
background-color: $background;
box-shadow: var(--shadow-dark);
min-height: 100vh;
border-radius: 10px;
display: flex;
flex-direction: column;


}


header{
    height: 7rem;
    background-color: $box-color;
    border-bottom: 1px solid $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem 0;
  }
  

  .sidebar{
    background: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 18%;
    padding: 3rem 0rem 2rem 0rem;

    @media (max-width: 450px) {
      max-width: 13%;
      min-width: 0%;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

    }

    &__app-name{
      color: $white-text;
      margin-top: .5rem;
      font-size: 2.8rem;
      letter-spacing: .2rem;
      text-decoration: none;
    }

    &__app-link{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
    
    

   

  }


  .content {
    background-color: $background;
    display: flex;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 100%;
    width: 100%;
    
  }

  .dash-view {
background-color: $background;
border-bottom-right-radius: 1rem;
display: flex;
justify-content: space-between;
flex: 1;
padding: 3rem 2rem;

@media (max-width: 450px) {
  flex-direction: column;
}

  }

  .main-content-container {
    display: flex;
    flex-grow: 1;
  }

  .main-content {
    flex: 1;
    min-height: 100%;
  }


  
    // Pagination.scss

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  
  
  

  .page-item {
    margin: .2rem;
    transition: background-color 0.3s ease;

    button {
      color: $white-text;
      border: none;
      margin-bottom: .7rem;
      padding: .5rem .8rem;
      background-color: $box-color;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      border-radius: 100px;

      &:hover {
        background: $secondary;
        color: $white-text;

      }
    }

    &.active button {
      background: $accent;
      color: $black-text;

      &:hover {
        
      }
    }
  }
}

