.mobilecalendar {

    width: 100%;
    display: flex;
    justify-content: center;
    



    &__container {
        background-color: $box-color;
        width: 93%;
        border-radius: 2.5rem;
        height: 15rem;
        z-index: 2;
    }
}