.mobileform {
    background-color: $primary;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;  // Make the container relative for absolute positioning

    &::before {
        content: '';
        position: absolute;
        top: 0%; // Move the moon shape up
        left: 50%;
        transform: translateX(-50%);
        width: 110vw; // Adjust width as needed
        height: 25vh; // Adjust height as needed
        background-color: rgb(255, 255, 255); // Match the form's background
        border-bottom-left-radius: 50%; // Create the concave shape
        border-bottom-right-radius: 50%;
        z-index: 1; // Ensure it's behind the form
        box-shadow: 0px 3px 10px rgb(66, 66, 66); 
        
    }

    &__img {
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
        width: 28%;
        z-index: 2;
    }

    &__form {
        display: flex;
        color: white;
        background-color: $primary;
        width: 100%;
        justify-content: center;
        height: 72%;
        position: relative; // Ensure the form is in front of the half-moon
        z-index: 2; // Layer the form above the concave shape
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        
    }

    &__title {
        margin-top: 1rem;
        font-size: 3.5rem;
        
    }

    &__question {
        margin-bottom: 2rem;
    }

    &__input-group {
        position: relative;
        width: 95%;
        
        
    }

    &__input {
        background-color: rgb(233, 233, 233);
        width: 100%;
        border: none;
        height: 5rem;
        margin-top: 1rem;
        border-radius: 1rem;
        box-sizing: border-box;
        padding-left: 7rem;
        font-size: 1.6rem;
        color: $secondary;

        &:focus {
            outline: none; /* Remove default outline */

            
        }

    }

    &__label {
        position: absolute;
        font-size: 1.5rem;
        top: 2.2rem; /* Adjust as necessary */
        left: 7.02rem; /* Adjust as necessary */
        color: rgb(128, 128, 128);
        pointer-events: none;
        transition: transform 0.3s, font-size 0.3s; /* Smooth transition */
        z-index: 1;
    }

    &__icon {
        position: absolute;
        font-size: 1.5rem;
        top: 1.9rem; /* Adjust as necessary */
        left: 1.5rem; /* Adjust as necessary */
        
        pointer-events: none;
        transition: transform 0.3s, font-size 0.3s; /* Smooth transition */
    }

    &__demo-title {
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    &__demo-container {
        display: flex;
        gap: 2rem;
    }

    &__demo-login {
        font-size: 1.2rem;
    }

    &__button-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        justify-content: flex-end;
        height: 42%;
    }

    &__error {
        align-self: center;
        margin-bottom: 1rem;
    }

    &__button {
        background-color: $secondary;
        height: 5rem;
        margin-bottom: 2rem;
        width: 100%;
        border-radius: 3rem;
    }

    &__newAccount {
        margin-bottom: 3rem
    }
}


.mobileform__input:focus + .mobileform__label,
.mobileform__input:not(:placeholder-shown) + .mobileform__label {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


                
//                 <div className='mobileform__button-container'>
//                 {error && <div className='mobileform__error'>{error}</div>}
                
//                 <button 
//                 className='mobileform__button'
//                 disabled={isLoading}
//                 >Login</button>
//                 </div>
//                 </div>
                
//             </form>
//         </div>
//     );
// };

// export default MobileLogin;