.mobileanalytics {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 19rem;
    z-index: 2;

    &__container {
        display: flex;
        width: 89%;
        justify-content: space-between;
        

    }

    &__link1, &__link2, &__link3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 1.5rem;
        width: 10.6rem;
        background-color: rgb(128, 128, 128);
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
        position: relative; /* Allow it to overlap */
        top: 2rem; /* Push it down to overlap with the calendar */
        
    }



    &__link1 {
        background-color: rgb(92, 155, 92);
        color: $black-text;
        text-decoration: none;
        
    }

    &__open-issues {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__link2 {
        background-color: rgb(199, 199, 102);
        text-decoration: none;
        color: $black-text;
    }

    &__new-issues {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link3 {
        background-color: rgb(106, 106, 183);
        text-decoration: none;
        color: $black-text;
    }

    &__priority-issues {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    &__header-logo {
        height: 4rem;
        width: 4rem;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50rem;
    }

    &__header-title {
        font-size: 1.05rem;
        margin-top: .5rem;
        
    }

    &__info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        font-size: 3rem;
    }

    &__info-string {

    }
}