.header {
    display: flex;
    width: 95%;
    box-sizing: border-box;
    padding-left: 4rem;
    height: 5.5rem;
    align-items: center;
    border-bottom-right-radius: 3rem;


    &__title {
        font-size: 1.6rem;
    }
}