.mobileissues {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;

    &__container {
        background-color: #fefffe;
        width: 93%;
        height: 28rem;
        border-radius: 2.5rem;
        margin-bottom: 9rem;
    }
}