.calendar{
    background-color:  $box-color;
    border-radius: 1rem;
    height: 150px;
    max-width: 100%
}
.somethingelse{
    background-color:  $box-color;
    border-radius: 1rem;
    height: 150px;
    max-width: 100%;
}