.calendar{
    background-color:  $color-app-primary;
    border-radius: 1rem;
    height: 150px;
    max-width: 100%
}
.somethingelse{
    background-color:  $color-app-primary;
    border-radius: 1rem;
    height: 150px;
    max-width: 100%;
}