.modal-card {
    padding: 2rem;
    background-color: $box-color;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $accent;
    justify-content: space-between;


    
  
    &__title {
    color: $text;
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    font-weight: bold;
    justify-content: space-between;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid $accent;
    
    }
    
    &__subtitle-container{
        display: flex;
        gap: 1rem;
    }

    &__category {
        font-size: 1.2rem;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        background: $secondary;
        color: $text;
        }

    &__priority {
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    background: $primary;
    color: black;
    
    }

    &__description {
    margin: 1rem 0 1rem 0;
    border: 1px solid $text;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: $text;
    min-height: 8rem;
    }

    &__due-date {
    font-size: 1.4rem;
    color: $text;
    margin-top: 1rem;
    
    }

    &__parroom-title {
        color: $text;
        font-size: 1.3rem;
        margin-bottom: .2rem;
    }

    &__par-rooms {
        list-style: none;
        display: flex;
        
    }

    &__par-li {
        font-size: 1.1rem;
        margin-right: .7rem;
        color: $text;
    }

    &__assigned-title {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: $text;
    }

    &__driver-list {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 1.5rem;
    }

    &__driver-item {
    font-size: 1rem;
    color: $text;
    padding: 0.25rem 0;
    border-bottom: 1px solid #eee;
    }

    
}