.modal {
    margin: auto;
    border: none;
    border-radius: .5rem;
    height: 50%;
    width: 60%;
    overflow: visible;
    background: none;
}
.modal-form {
    margin: auto;
    border: 1px solid $accent;
    border-radius: 5px;
    height: 70%;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

dialog:-internal-dialog-in-top-layer::backdrop {
    
    background: rgba(0, 0, 0, 0.2);
}