
.login-form{
    left: 50%;
    top: 35%;
    position: absolute;
    transform: translate(-50%, -35%);
    background-color: #ffd7a9;
    width: 70rem;
    height: 40rem;
    border-radius: 15px;
    box-shadow: var(--shadow-dark);
    display: flex;

    

    &__form{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        box-shadow: var(--shadow-dark);
        border-radius: 10px;
        width: 50%;
        margin: 3rem;
    }

    &__input-container{
        margin: 2rem;
    }

    &__title{
        font-size: 1.8rem;
    }

    &__quesiton{

    }

    &__link {

    }

    &__name {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    &__name-input {
        border-radius: 5px;
        height: 40px;
        margin-bottom: 3rem;

        &::placeholder {
            
        }
    }

    &__password{
        font-size: 1.2rem;
    }

    &__password-input{
        border-radius: 5px;
        height: 40px;

        &::placeholder{
            
        }
    }
    
    &__button {
        background-color: green;
        margin-top: 4rem;
        left: 20%;
        position: absolute;
        transform: translate(-20%);
    }

    &__illistration{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}