.modal__container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background-color: $box-color;
    align-items: center;
    
}

//   end issues more info

.issue-form {
    padding: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $box-color;
    align-items: center;

&__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

&__input-checkbox {
    /* Hide the default checkbox */
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 2rem;
    border: 2px solid $primary;
    background-color: $box-color;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    /* Custom checkmark */
    &:checked::before {
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 14px;
        height: 14px;
        background-color: white;
        border-radius: 2px;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba($primary, 0.5);
    }
}

&__title-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1.7rem;
}

&__label {
    color: $black-text;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.issue-form__input-box-name {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 1rem;
}

#issue-form_input-name__id{
    width: 100%;
}
.issue-form__input-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

// general input and name input
&__input {
    width: 100%;
    padding: 1rem;
    border: 1px solid $primary;
    border-radius: 5px;
    background:$box-color;
    outline: none;
    color: $black-text;
    font-size: 1.5rem;
    height: 100%;
    transition: .5s;

    &:valid,
    &:focus{
        border: 1px solid $primary;
    }
    

    &:valid ~ .issue-form__title-label,
    &:focus ~ .issue-form__title-label {
        color: $black-text;
        transform: translateX(1rem) translateY(-2.07rem);
        transition: 0.5s;
        font-size: 1.1rem;
        padding: 0 .7rem;
        background: $box-color;
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;
        letter-spacing: .1rem;
        }
    }

    &__title-label {
        position: absolute;
        left: 0;
        padding: 1rem;
        pointer-events: none;
        font-size: 1.5rem;
        color: $black-text;
        
    }


    // input for calendar due date
    .issue-form__input-box-calendar {
        position: relative;
        display: flex;
        align-items: center;
        
    }
    
    
    &__input-calendar {
        width: 100%;
        padding: 1rem;
        border: 1px solid $primary;
        border-radius: 5px;
        background:$box-color;
        outline: none;
        color: $black-text;
        font-size: 1.5rem;
        height: 100%;
        transition: .5s;
    
        &:valid,
        &:focus{
            border: 1px solid $primary;
        }
        
    
        &:valid ~ .issue-form__title-label-calendar,
        &:focus ~ .issue-form__title-label-calendar {
            color: $black-text;
            
            transition: 0.5s;
            font-size: 1.1rem;
            padding: 0 .7rem;
            background: $box-color;
            border-left: 1px solid $primary;
            border-right: 1px solid $primary;
            letter-spacing: .1rem;
            }

            &::-webkit-calendar-picker-indicator {
                filter: invert(1); // Invert color of the calendar icon (optional)
                cursor: pointer;
            }
        }

&__title-label-calendar {
    position: absolute;
    left: 0;
    font-size: 1.1rem;
    padding: .2rem 1.1rem;
    pointer-events: none;
    color: $black-text;
    transform: translateX(1rem) translateY(-2.07rem);
    background: $box-color;
}


// description box input
&__title-textarea {
    position: absolute;
    left: 0;
    bottom: 55%;
    padding: 1rem;
    pointer-events: none;
    font-size: 1.5rem;
    color: $black-text;
}

&__textarea {
    width: 100%;
    height: 9rem;
    resize: none;
    
    font-size: 1.5rem;
    
    background: none;
    padding: 1rem;
    border: 1px solid $primary;
    border-radius: 5px;
    background:$box-color;
    outline: none;
    color: $black-text;
    font-size: 1.5rem;
    transition: .5s;

    &:valid,
    &:focus{
        border: 1px solid $primary;
    }
    

    &:valid ~ .issue-form__title-textarea,
    &:focus ~ .issue-form__title-textarea {
        color: $primary;
        transform: translateX(1rem) translateY(-3.3rem);
        transition: 0.5s;
        font-size: 1.1rem;
        padding: 0 .7rem;
        background: $box-color;
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;
        letter-spacing: .1rem;
        }
}
// assignment and par room container
&__assignment-select-container {
    display: flex;
    margin: 1.2rem 0;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

&__assigned-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid $primary;
    border-radius: .5rem;
    padding:1rem;


}

&__driver-container {
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    

}


&__select-container {
    width: 50%;
    
}
// selector for par rooms
.react-select__control {
    background-color: $box-color;
    color: $black-text; 
    border-color: $primary; 
    padding: 1rem;

    &:hover {
        border-color: $primary;
    }

    &--is-focused {
        border-color: $primary;
        box-shadow: 0 0 0 1px $primary;
    }
}

.react-select__menu {
    background-color: rgb(3, 12, 10); // $background color
    color: $black-text; // $text color
}

.react-select__option {
    background-color: $secondary;
    color: $black-text;

    &--is-focused {
        background-color: $box-color; 
    }

    &--is-selected {
        background-color: $secondary;
        color: $accent; 
    }
}

.react-select__multi-value {
    background-color: $secondary;
    color: rgb(227, 247, 245); 

    .react-select__multi-value__label {
        color: rgb(227, 247, 245); 
    }

    .react-select__multi-value__remove {
        color: rgb(227, 247, 245); 

        &:hover {
            background-color: lighten($secondary, 10%); 
            color: rgb(227, 247, 245); 
        }
    }
}

.react-select__menu-list {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: $box-color; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: $accent; 
        border-radius: 4px;
    }
}
// priority container
&__priority-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex:1 ;
    border: 1px solid white;
    border-radius: .5rem;
    padding: 1rem;

}

&__priority-selectors{
    display: flex;
    margin-top: 1rem;
    gap: 8rem;
    justify-content: center;
}



&__category-selector {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
    &__label-category {
        color: $white-text; 
        font-size: 14px; 
        margin-bottom: 5px; 
    }

    &__select-category {
        width: 100%;
        padding: 8px;
        border: 1px solid $primary; // Example border color
        background-color: $box-color; // Example background color
        color: $black-text; // Example text color
        border-radius: 4px;
        padding: 1rem;
        font-size: 14px; // Example font size
        cursor: pointer;
        transition: border-color 0.2s ease, box-shadow 0.2s ease;

        &:focus {
            border-color: grey; // Example focus border color
            box-shadow: 0 0 0 3px rgba($primary, 0.5); // Example focus shadow color
            outline: none;
        }
    }

    &__select option {
        background-color: $box-color; // Example background color
        color: $white-text; // Example text color
    
}


&__button-container{
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    align-items: center;
}

}