.section-analytics {

    display: flex;
    justify-content: space-around;
    max-width: 80%;

    &__box {
        width: 20%;
        height: 10rem;
        display: block;
        background-color: rgb(54, 118, 118);
        border-radius: 10px;
    }
}