.card-mini{
    width: 80%;

    &__container{
        margin: .7rem;
        height: 7.3rem;
        padding: 5px;
        border-radius: 15px;
        background-color: $color-app-primary;
        box-shadow: var(--shadow-dark);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__category {

    }

    &__name {

    }

    &__date {

    }

    &__driver-list {

    }

    &__drivers {

    }

  }