.card-mini{
    width: 80%;

    &__container{
        
        height: 8.3rem;
        padding: 5px;
        border-bottom: solid 1px $accent;
        background-color: $box-color;
        display: flex;
        align-items: center;
        transition: transform .3s ease, box-shadow .3s ease ;

        &:hover {
            transform: scale(1.01);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
        }
    }

    

    &__category-container {
        display: flex;
        border-radius: 1rem;
        margin: 0 .8rem;
        width: 4.5rem;
        height: 4.5rem;
        justify-content: center;
        align-items: center;
        
    }

    &__title-container {
        margin-left: .5rem;
        width: 45%;
    }

    &__name {
        font-size: 1.3rem;
        color: $text;
    }

    &__description {
        color: $grey-text;
        
    }

    &__date {
        color: $accent;
        width: 15%;
        margin-left: 1rem;
    }

    &__driver-list {
        width: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        margin-left: 1rem;
    }

    &__drivers {
        display: flex;
        justify-content: space-between;
        width: 3rem;
    }

    &__completion-input {
        appearance: none;
        width: 24px;
        height: 24px;
        position: relative;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: $primary;
        border-radius: 4px;
        transition: transform 0.2s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.1);
            transition: background-color 0.2s ease-in-out;
        }
    
        &:checked::before {
            background: $secondary; // Replace with your accent color
        }
    
        &:checked::after {
            content: '\2713'; // Unicode checkmark character
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
            color: white;
            transition: opacity 0.2s ease-in-out;
        }
    
        &:hover::before {
            background: $accent;
            
        }
    
        &:checked:hover::before {
            background: $accent; // Replace with a lighter/darker shade of your accent color
        }
    
        &:checked:hover::after {
            opacity: 1;
            
        }
    
        &:checked {
            transform: scale(1.1); // Example of scaling effect on checkbox
        }
    }
    
    &__parroom-list{
        list-style: none;
        width: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $accent;
    }
    
    &__prioriry-container{
        display: flex;
        justify-content: flex-end;
        
        flex: 1;
    }
    &__priority {
       width: 5rem;
       display: flex;
       justify-content: center;
       
        
       
    }
    
}