
.dash-view{


&__analytics-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 70%;
    justify-content: space-between;
    margin-right: 2rem;
    max-height: 100%;
}

&__calendar-container{
    max-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 30%;
}

}


.dash-nav{

    border-radius: 1rem;
    background-color: $color-app-primary;
    max-width: 100%;
    height: 100%;
    padding: 10px;
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{

    }
    &addbutton{

    }

    &__filters{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }
    &__filters-new-assigned{
        cursor: pointer;
    }
    &__filters-priority{
        cursor: pointer;
    }
    &__filters-completed{
        cursor: pointer;
    }
}