

.dash-view__analytics-container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-bottom: 2rem;
    justify-content: space-between;
}


.dash-nav{

    border-radius: 1rem;
    background-color: $color-app-primary;
    max-width: 100%;
    padding: 10px;
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{

    }
    &addbutton{

    }

    &__filters{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }
    &__filters-new-assigned{
        cursor: pointer;
    }
    &__filters-priority{
        cursor: pointer;
    }
    &__filters-completed{
        cursor: pointer;
    }
}