.dash-nav{

    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{

    }
    &addbutton{

    }
    &__filters{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }
    &__filters-new-assigned{
        cursor: pointer;
    }
    &__filters-priority{
        cursor: pointer;
    }
    &__filters-completed{
        cursor: pointer;
    }
}