.logo {
    width: 7rem;
    margin-left: .2rem;
    padding-top: .2rem;
}
.sidenav-icon {
    
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
    transition: margin-right 0.3s;
    fill: $accent;

}

.analytics-icon {
    fill: white;
    border-radius: 1.2rem;
    border: .6rem solid $accent;
    height: 95%;
    width: 95%;
    background-color: $accent;
}



.category-icon {
    width: 3rem;
    height: 3rem;
    fill: $black-text;
}