.logo {
    width: 7rem;
    margin-left: .2rem;
    padding-top: .2rem;
}
.sidenav-icon {
    
    height: 1.75rem;
    width: 1.75rem;
    flex-shrink: 0;
    transition: margin-right 0.3s;

}

.analytics-icon {
    fill: white;
    border-radius: 1.2rem;
    border: .6rem solid rgba(255, 255, 255, 0);
    height: 95%;
    width: 95%;
}