.logo {
    height: 6rem;
    border-radius: 5px;
    margin-left: 2rem;
}
.sidenav-icon {
    
    height: 1.75rem;
    width: 1.75rem;
    flex-shrink: 0;
    transition: margin-right 0.3s;
    
}

