
.side-nav{
    list-style: none;
    display: flex;
    flex-direction: column;

    &__item{
        
        
        
    }
    &__link:link,
    &__link:visited {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        height: 4.5rem;
        fill: rgb(146, 146, 146);
        color: $color-app-text-black;
        transition: padding 0.3s; 
        padding-left: 1rem;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:after{
            display: block;
            position: absolute;
            margin: 0;
            top: 50;
            bottom: 50;
            left: 0;
            right: 0;
            content: '.';
            color: transparent;
            width: .1rem;
            height: .1rem;
            border-radius: 50%;
            background: transparent;
            z-index: -1;
            
        }

        &:hover:after{
            animation: circle 2s ease-in forwards;
        }

        
    }
   


    &__link-title {
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.4rem;
        opacity: 0;
        margin-left: 0;
        transition: opacity 0.3s, padding-left 0.3s, transform 0.3s ease;
    }

    &__link:hover .side-nav__link-title {
        transform: scale(1.1);
        padding-left: 1rem;
 }

    .sidebar:hover &__link-title {
        opacity: 1;
        margin-left: 1rem;
    }
}
