
.side-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    

    &__item{
        display: flex;
        height: 6rem;
        
        
    }
    &__link:link,
    &__link:visited {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.3rem;
        width: 100%;
        text-decoration: none;
        height: 100%;
        padding-left: 18%;
        fill: rgb(255, 47, 47);
        color: $white-text;
        transition: padding 0.3s; 
        transition: font-size 0.3s ease, background-color 1s ease;
        
            @media (max-width: 450px) {
                justify-content: center;
                padding: 0;
            }
        

        &:hover{
            font-size: 1.1rem;
            background-color: $accent;

            .side-nav__link-title {
                font-size: 1.9rem; /* Adjust the font size on hover */
                transition: font-size 0.3s ease;
            }

            .sidenav-icon {
                height: 2.5rem; /* Adjust the size on hover */
                width: 2.5rem;  /* Adjust the size on hover */
                transition: height 0.3s ease, width 0.3s ease;
            }
        }

        
    }
   


    &__link-title {
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.7rem;
        opacity: 1;
        color: $white-text;
        transition: font-size 0.3s ease;

        @media (max-width: 450px) {
            display: none;
        }
    }


    
}
.logout-button {
    justify-self: flex-end;
    background: none; 
    border: none;
    display: flex;
    align-items: center;
    
    gap: 1.3rem;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding-left: 19%;
    fill: rgb(146, 146, 146);
    color: $white-text;
    cursor: pointer; 
    transition: font-size .3s, background-color 1s ease; 
}

.logout-button:hover {
    font-size: 1.1rem;
            background-color: $accent;

            .side-nav__link-title {
                font-size: 1.9rem; /* Adjust the font size on hover */
                transition: font-size 0.3s ease;
            }

            .sidenav-icon {
                height: 2.5rem; /* Adjust the size on hover */
                width: 2.5rem;  /* Adjust the size on hover */
                transition: height 0.3s ease, width 0.3s ease;
            }
        }

