.user-nav{

    &__logout-box{

    }
    &__login-box{

    }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;
    }
    &__signup-box{

    }
    &__alltickets-box{

    }
    &__notifications{

    }
    &__user{

    }
    &__user-picture{
        height: 2.25rem;
        width: 2.25rem;
    }
    &__username{

    }
}